<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ymcaforms.ymcaforms">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".FormActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CreateForm"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DisplayResponse"
            android:parentActivityName=".ResponseActivity"/>
        <activity android:name=".ResponseActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".UrlActivity">
            <intent-filter>
                <data android:scheme="myapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="example.app.link"
                    android:scheme="https" />
                <data
                    android:host="example-alternate.app.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.branch.sdk.BranchKey"
            android:value="key_live_nhvKwIH12wqMRRYgx7UxJbafsyfY5eqv" />
        <meta-data
            android:name="io.branch.sdk.BranchKey.test"
            android:value="key_test_ncvQtSH0WBsQRN1nwYVxVomjzzgXWjzG" />
        <meta-data
            android:name="io.branch.sdk.TestMode"
            android:value="false" />

        <!-- Branch install referrer tracking (optional) -->
        <receiver
            android:name="io.branch.referral.InstallListener"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity android:name=".User"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>